/*

    Final Project (3)
    Name: Md Mahamudun Alam Mahin
    Date: 12/14/22
    Description: Styling all the web pages using CSS of the business jersey shop.
	
*/

body {
    background-color: black;
}

body #contentArea {
    background-color: #1C315E;
    color: #E6E2C3;
    box-sizing: border-box;
    border: 10px solid #0d423b;
}

#contentArea header {
    padding: 0;
    margin-bottom: 0;
    background-color: #2D033B;

}

#imagemain {
    width: 99.8%;
    height: auto;
    padding: 0;
    margin-bottom: 0;
    border: 2px solid #000;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

h2 {
    text-align: center;
}

a {
    color: #97DECE;
    text-decoration: none;
}

/********* main ********/

main {
    margin-top: 0;
    margin-bottom: 50px;

}

main div#navigation nav {

    background: #495579;

}

main div#navigation nav ul {
    padding: 10px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;

}

main div#navigation nav ul li {
    width: auto;
    /*
    margin: auto 0px;
    padding: 0px 8px;
    */
    list-style: none;
    font-size: medium;
    text-transform: uppercase;
    font-size: medium;
}

main div#navigation nav ul li a {
    text-decoration: none;
}

main div#navigation nav ul li a:hover,
main div#navigation nav ul li a:focus {
    background-color: #9497a3;
}

hr {
    border: 2px solid#227C70;
    margin-bottom: 10px;
    width: 80%;
}

main p {
    position: relative;
    left: 20px;
    text-align: center;
}

main #clubs,
main #worldcup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main img {
    height: 20%;
    width: 20%;
}



#jerseys1,
#jerseys2 {
    display: flex;
    justify-content: space-between;
}

#services {
    text-align: center;
    list-style: none;
}

/********* footer ********/

footer {
    font-size: x-small;
}


footer div nav {
    display: flex;
    justify-content: center;
    padding: 0px auto;
    margin: 0px auto;
}

footer #end-navigation ul {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

footer #end-navigation ul li {
    padding: 0px 8px;
    border-right: 1px solid #227C70;
    list-style: none;

}

footer div nav #footer-navigation-last-list-item {
    border-right: none;
}

footer #end-navigation ul li a {
    color: #97DECE;
    text-decoration: none;
}

footer #end-navigation ul li a:hover,
footer #end-navigation ul li a:focus {
    background-color: #227C70;
}

footer div#copyright p {
    text-align: center;
    position: relative;
    left: 20px;
    padding: 0px 0px;
    margin: 0px 0px;
}

footer #address p {
    text-align: center;
    position: relative;
    left: 20px;
    padding: 0px 0px;
    margin: 0px 0px;
}

/*
cheat code: style="min-height:95vh; display:flex; flex-direction:column; 
justify-content:space-between;
*/

#form {
    display: flex;
    justify-content: center;
}

form {
    width: 80%;
    justify-content: center;
}

form label {
    display: inline-block;
    font-size: 20px;
    width: 100px;
}

form fieldset ul {
    list-style: none;
}

form ul li {
    padding: 5px;
}

#buttons {
    clear: both;
    position: relative;
    left: 300px;
}

#commentbox {
    display: flex;
    align-items: center;
}

@media(min-width: 768px) {
    #navigation nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #navigation nav ul li {
        flex: 1;
        border: none;
    }

    #navigation nav ul li:hover,
    #navigation nav ul li a:focus {
        text-shadow: 2px 2px 1px #000;
    }

    #imagemain {
        height: 400px;
    }
}